<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaysaLaysa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBC1B8F61CE9AB280041837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC1B9121CE9AB290041837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBC1B91D1CE9AB290041837A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
